<div class ='container'>
   <table border="0" cellspacing="0" cellpadding="0" width="90%" class="tblmain">
              <tr>
                  <td align="left" class="heading" style="padding-top: 10px;">
                                    <strong>Time Card Report</strong>
                   </td>
               </tr>
               <tr>
                    <td style="background: #62B4CC; color: #FFF; padding: 10px;">
                          <table border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                  <td width="7%">
                                                From Date :
                                  </td>
                                   <td width="8%" style="color: #6D6D6D !important;">
                                             <input type="text" data-provide='datepicker' style="width:100px;" >
                                     </td>
                                    <td width="6%">
                                                To Date :
                                     </td>
                                     <td width="10%" style="color: #6D6D6D !important;">
                                            <input name="ctl00$ContentPlaceHolder1$txtToDate" type="text" value="9/30/2016" id="ctl00_ContentPlaceHolder1_txtToDate" tabindex="4" style="width:100px;" />
                                            <span id="ctl00_ContentPlaceHolder1_rfvToDate" highlightcssclass="" style="display:inline-block;color:Red;width:850px;display:none;"></span>
                                            <input type="hidden" name="ctl00$ContentPlaceHolder1$vce1ToDate_ClientState" id="ctl00_ContentPlaceHolder1_vce1ToDate_ClientState" />
                                                
                                            <input type="hidden" name="ctl00$ContentPlaceHolder1$meeToDate_ClientState" id="ctl00_ContentPlaceHolder1_meeToDate_ClientState" />
                                            <span id="ctl00_ContentPlaceHolder1_mevToDate" style="color:Red;display:none;"></span>
                                            <input type="hidden" name="ctl00$ContentPlaceHolder1$vceToDate_ClientState" id="ctl00_ContentPlaceHolder1_vceToDate_ClientState" />
                                      </td>
                                           
                                      <td width="5%" align="left">
                                            <%= image_submit_tag 'search.png' %>
                                      </td>
                                </tr>
                               </table>
                         </td>
     </table>

</div>

