<%#= error_messages_for 'user' %>
<div class="container">

<%= form_for @user do |f| %>
<fieldset>
    <table>
         <tr>
            <td width="41%" height="35" align="left" valign="middle" class="labelblack">
                  <span class="labelred">* </span>Old Password
                
            </td>
            
            <td>
                	
                <%= password_field 'old','password',:label=>'Old Password', :mandatory=> true, :value => '' %>
                 
                	
            </td> 
          </tr>
          
           <tr>
            
            <td width="41%" height="35" align="left" valign="middle" class="labelblack">
                  <span class="labelred">* </span> New Password
               
            </td>
            
            <td>
                    <%= f.password_field :password%>
                	
            </td>
          
            
          </tr>
        
    </table>
</fieldset>
<div class="align_center"><%= submit_tag 'Update', :class => 'buttons' %></div>
<% end %>

</div>