WORK IN PROGRESS

</div class= "container"><a id="ctl00_DataMenu1_SkipLink"></a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    <table width="1202" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td height="12" align="center">
            </td>
        </tr>
        <tr>
            <td align="center" valign="top">
                <table width="1002" border="0" cellspacing="0" cellpadding="0" style="color: Black !important;">
                    <tr>
                        <td align="center" valign="top">
                            <table width="988" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="left" class="heading" style="padding-top: 10px;">
                                        <strong>Change Password</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td width="43%" valign="top">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td width="41%" height="35" align="left" valign="middle" class="labelblack">
                                                                <span class="labelred">* </span>Old Password
                                                            </td>
                                                            <td width="59%" align="left" valign="middle">
                                                                <input name="ctl00$ContentPlaceHolder1$TxtOldPassword" type="password" maxlength="25" id="ctl00_ContentPlaceHolder1_TxtOldPassword" title="Old Password" onpaste="return false" oncopy="return false" ondrag="return false" ondrop="return false" style="width:200px;" />
                                                                <span id="ctl00_ContentPlaceHolder1_RFValidatorOldPassword" style="color:Red;display:none;"></span>
                                                                <input type="hidden" name="ctl00$ContentPlaceHolder1$vceUsername_ClientState" id="ctl00_ContentPlaceHolder1_vceUsername_ClientState" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="35" align="left" valign="middle" class="labelblack">
                                                                <span class="labelred">* </span>New Password
                                                            </td>
                                                            <td align="left" valign="middle">
                                                                <input name="ctl00$ContentPlaceHolder1$TxtPassword" type="password" maxlength="25" id="ctl00_ContentPlaceHolder1_TxtPassword" title="New Password" onpaste="return false" oncopy="return false" ondrag="return false" ondrop="return false" style="width:200px;" />
                                                                <span id="ctl00_ContentPlaceHolder1_RFVPassword" style="color:Red;display:none;"></span>
                                                                <input type="hidden" name="ctl00$ContentPlaceHolder1$VCallPassword_ClientState" id="ctl00_ContentPlaceHolder1_VCallPassword_ClientState" />
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="35" align="left" valign="middle" class="labelblack">
                                                                <span class="labelred">* </span>Re-type Password
                                                            </td>
                                                            <td align="left" valign="middle">
                                                                <input name="ctl00$ContentPlaceHolder1$TxtReTypeNewPassword" type="password" maxlength="25" id="ctl00_ContentPlaceHolder1_TxtReTypeNewPassword" title="ReType Password" onpaste="return false" oncopy="return false" ondrag="return false" ondrop="return false" style="width:200px;" />
                                                                <span id="ctl00_ContentPlaceHolder1_RFVReTypePassword" style="color:Red;display:none;"></span>
                                                                <input type="hidden" name="ctl00$ContentPlaceHolder1$ValidatorCalloutExtender1_ClientState" id="ctl00_ContentPlaceHolder1_ValidatorCalloutExtender1_ClientState" />
                                                                <span id="ctl00_ContentPlaceHolder1_cvConfirmPwd" style="color:Red;display:none;"></span>
                                                                <input type="hidden" name="ctl00$ContentPlaceHolder1$ValidatorCalloutExtender4_ClientState" id="ctl00_ContentPlaceHolder1_ValidatorCalloutExtender4_ClientState" />
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width="57%" align="center" valign="middle">
                                                    <table width="80%" border="0" cellpadding="0" cellspacing="1" bgcolor="#613a3b">
                                                        <tr>
                                                            <td bgcolor="#f2e6e6">
                                                                <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td height="5">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="gridtext1">
                                                                            <strong>New Password Criteria</strong>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="5">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="1" bgcolor="#c1b6b6">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="10">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="22" align="left" valign="middle" class="chpass">
                                                                            &bull; Password length must be between 6 - 25 characters.
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="22" align="left" valign="middle" class="chpass">
                                                                            &bull; Must contain atleast one lower case character
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="22" align="left" valign="middle" class="chpass">
                                                                            &bull; Must contain atleast one number
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="22" align="left" valign="middle" class="chpass">
                                                                            &bull; Password should not repeat any of your 5 previous password
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="10">
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="12" align="left">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <input type="image" name="ctl00$ContentPlaceHolder1$btnChangePassword" id="ctl00_ContentPlaceHolder1_btnChangePassword" title="Change Password" src="../../App_Themes/Default/Images/button_save.jpg" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ContentPlaceHolder1$btnChangePassword&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" style="height:25px;width:65px;border-width:0px;" />
                                        
                                        &nbsp;&nbsp;
                                        <input type="image" name="ctl00$ContentPlaceHolder1$ibtnCancel" id="ctl00_ContentPlaceHolder1_ibtnCancel" title="Cancel" src="../../App_Themes/Default/Images/Modal_cancel.png" style="height:25px;width:77px;border-width:0px;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="15" align="left" valign="middle" class="welcome">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <span id="ctl00_ContentPlaceHolder1_LblMessage" class="errorlabel"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="ctl00_ContentPlaceHolder1_PnlPopup" style="width:100%;display: none;">
	
                                            
<table width="30%" border="0" align="center" cellpadding="0" cellspacing="3">
    <tr>
        <td align="center" valign="middle" style="border: 2px solid #073d5f; color: #2d2d2d !important;">
            <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td bgcolor="#FFFFFF" align="center">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td height="40" align="center" valign="middle" bgcolor="#0588da" class="popuphd">
                        <span id="ctl00_ContentPlaceHolder1_ucModalInfoWindow1_lblPopupHeaderMsg"></span>
                                            </td>
                                            <td width="8%" bgcolor="#0588da" align="left">
                        <input type="image" name="ctl00$ContentPlaceHolder1$ucModalInfoWindow1$ImgBtnHeaderClose" id="ctl00_ContentPlaceHolder1_ucModalInfoWindow1_ImgBtnHeaderClose" title="Close" src="../../App_Themes/Default/Images/close.jpg" style="height:16px;width:19px;border-width:0px;" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td height="1">&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td height="40" align="center" valign="middle">
                                    <span id="ctl00_ContentPlaceHolder1_ucModalInfoWindow1_lblMessage"></span>
                                </td>
                            </tr>
                            <tr>
                                <td height="1">&nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="middle">
                        <input type="image" name="ctl00$ContentPlaceHolder1$ucModalInfoWindow1$ImgBtnClose" id="ctl00_ContentPlaceHolder1_ucModalInfoWindow1_ImgBtnClose" title="OK" src="../../App_Themes/Default/Images/Modal_Ok.png" style="border-width:0px;" />
                                </td>
                            </tr>
                            <tr>
                                <td height="1">&nbsp;
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
                                        
</div>
           