# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 83253d1c783899b6483d7240908d45bdbc4d51f922b2f63513dc54fa5543b166472c05b1db92b650eefa0c302e2b94e8cca9d54f543091df2a5a0be7c8842336

test:
  secret_key_base: 4ba453afce5a0d6e50b052343d8cc16edfe56dbb75ae60fbd7667205a3cdc0f82b1ed404846fea537a45b191e67a003f7321c81685b2cde36ce8202c89e70cba

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
